@import url(/res/stylesheets/colors.css);
@import url(/res/stylesheets/animations.css);
@import url(/res/stylesheets/fonts.css);

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	margin: 0;
	background-color: var(--background-color-0);
	color: var(--text-color-regular);
	font-family: "Roboto";
}

a {
	color: unset;
	text-decoration: none;
}

em {
	color: var(--emphasis);
	display: contents;
}

.page {
	height: 100vh;
	scroll-snap-align: center;
}

.big-bg-text {
	height: 100vh;
	width: 100vw;

	position: absolute;

	z-index: 0;

	margin: 2rem 2rem 2rem 2rem;

	font-family: "Rubik";
	font-weight: 1000;

	color: var(--background-color-1);

	font-size: 25rem;
	line-height: 20rem;

	overflow: hidden
}

@media (pointer:none), (pointer:coarse) {
	.big-bg-text {
		font-size: 10rem;
		line-height: 8rem;
	}
}

/* Page 1 Start */
.page-1 {
	text-align: center;
}

.banner {
	height: 40vh;

	background-image: url(res/images/green_night_valley.jpg);
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: end;
}

.banner .avatar img {

	height: 20vh;

	margin-bottom: 1.3rem;

	border: 0.3rem solid var(--background-color-3);
	border-radius: 100%;

	background-color: #ffffff;
}

.name-main {
	margin: 1rem;

	animation: fadein 0.5s;

	color: var(--text-color-light);
	font-family: "Lato";
	font-size: 2.5rem;
}

.name-alternate {
	display: block;
	margin: auto;

	animation: fadein 0.7s;

	font-family: "JetBrains Mono";
	font-size: 1.2rem;
	align-content: center;

	width: fit-content;
	padding: 1rem 10vw;
	border: 0.3rem solid var(--background-color-2);
	border-radius: 1rem;

	background-color: var(--background-color-1);
}

.name-alternate b {
	color: var(--text-color-dark);
	font-size: 1rem;
}

.quote {
	margin: 2rem;

	animation: fadein 0.5s;

	font-size: 2.2rem;
	font-family: "Satisfy";
}

.scroll svg {
	height: 3.4rem;
	stroke: currentColor;
	fill: var(--background-color-2);
}

.scroll {
	margin: auto;
	width: 3rem;
	height: 3rem;
	border: 0.2rem solid var(--background-color-1);
	border-radius: 100%;
	position: relative;
	animation: press-down 2s infinite;
}
/* Page 1 End */

/* Page 2 Start */
.page-2 {
	margin: 3rem;
	display: flex;
	justify-content: space-around;
}

.bio {
	display: flex;
	align-items: center;

	z-index: 1;
}

.bio-banner {
	height: 50vh;
	width: 40vw;

	display: flex;
	align-items: center;

	padding-right: 2rem;
	border-right: solid 2px var(--background-color-3) ;
}

.bio-banner img {
	width: inherit;
}

.bio-text {
	height: 50vh;
	width: 40vw;

	display: flex;
	align-items: center;

	font-size: 1.5rem;
	line-height: 3rem;

	padding-left: 2rem;
	border-left: solid 2px var(--background-color-3) ;
}

@media (pointer:none), (pointer:coarse) {
	.bio-banner {
		position: absolute;
		width: 75vw;
	}
	
	.bio-banner img {
		opacity: 0.2;
	}

	.bio-text {
		width: 75vw;

	}
}
/* Page 2 End */

/* Page 3 Start */
.page-3 {
	display: flex;
	justify-content: center;
	position: relative;
}

.external-links {
	z-index: 1;

	margin-top: auto;
	margin-bottom: auto;
}

.external-link-box {
	width: 20rem;

	margin-top: 1rem;

	margin-left: auto;
	margin-right: auto;

	display: flex;

	padding: 1rem;

	border: 0.3rem solid var(--background-color-2);
	border-radius: 2rem;

	transition: 0.2s;

	background-color: var(--background-color-1);
}

.external-link-box:hover {
	border-color: var(--background-color-4);

	padding-left: 3rem;
	padding-right: 3rem;

	transition: 0.2s;
}

.external-links img {
	height: 2rem;
	width: 2rem;

	z-index: 10;
}

.github-link-box {
	background-color: var(--github-dark-primary);
}

.discord-link-box {
	background-color: var(--discord-dark-primary);
}

.youtube-link-box {
	background-color: var(--youtube-dark-primary);
}

.matrix-link-box {
	background-color: var(--element-dark-primary);
}

.external-links .external-username {
	z-index: 20;

	align-self: center;
	margin-left: auto;
	margin-right: auto;

	font-family: "Rubik";
	color: var(--text-color-light);
}
/* Page 3 End */


/* Footer Start */
.footer {
	height: 2rem;

	background-color: black;

	text-align: center;
	vertical-align: middle;
	line-height: 2rem;

	scroll-snap-align: end;

	font-family: 'Consolas';
}

.footer a {
	text-decoration: underline;
}

.footer a:hover {
	color: #ffffff;
}
/* Footer End */