@import url(/res/stylesheets/colors.css);
@import url(/res/stylesheets/animations.css);
@import url(/res/stylesheets/fonts.css);

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background-color: var(--background-color-0);
    color: var(--text-color-regular);
}
a {
    color: unset;
    text-decoration: none;
}

.content-container {
    height: 100vh;
    scroll-snap-align: center;
}

/* First Page Start */
.content-container-1 {
    text-align: center;
}

.banner {
    height: 40vh;

    background-image: url(res/images/green_night_valley.jpg);
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: end;
}

.banner .avatar img {
    height: 20vh;

    margin-bottom: 1rem;

    border: 0.3rem solid var(--background-color-3);
    border-radius: 100%;
}

@media (hover:none) {
    .banner {
        background-size: cover;
    }

    .banner .avatar img {
        height: 30vw;
    }
}

.name-main {
    padding-top: 1rem;

    color: var(--text-color-light);
    font-family: "Lato";
    font-size: 2rem;
}

.name-alternate {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 1rem;

    font-family: "JetBrains Mono";
    font-size: 1.1rem;
    align-content: center;

    width: fit-content;
    padding: 1rem 7vw;
    border: 0.3rem solid var(--background-color-2);
    border-radius: 1rem;

    background-color: var(--background-color-1);
}

.name-alternate b {
    color: var(--text-color-dark);
    font-family: "Roboto";
    font-size: 0.75rem;
}

.quote {
    margin-top: 1.5rem;

    font-size: 2rem;
    font-family: "Satisfy";
}

.scroll svg {
    height: 3.4rem;
    stroke: currentColor;
    fill: var(--background-color-2);
}

.scroll {
    margin: auto;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid var(--background-color-1);
    border-radius: 100%;
    position: relative;
    animation: press-down 2s infinite;
}
/* First Page End */


/* Second Page Start */
.content-container-2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.meet-me-title {
    height: 100vh;
    width: 100%;

    position: absolute;

    z-index: 0;

    font-family: "Rubik";
    font-weight: 700;

    color: var(--background-color-1);

    font-size: 20rem;
    line-height: 20rem;

    overflow: hidden
}

@media (hover:none) {
    .meet-me-title {
        font-size: 10rem;
        line-height: 7rem;

        margin-top: 1rem;
    }
}

.sns-links {
    z-index: 1;

    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.sns-link-box {
    width: 20rem;

    margin-top: 1rem;

    display: flex;

    padding: 1rem;

    border: 0.3rem solid var(--background-color-2);
    border-radius: 2rem;

    background-color: var(--background-color-1);
}

.sns-link-box:hover {
    border-color: var(--background-color-4);
}

.sns-links img {
    height: 2rem;
    width: 2rem;

    z-index: 10;
}

.github-link {
    background-color: var(--github-dark-primary);
}

.discord-link {
    background-color: var(--discord-dark-primary);
}

.youtube-link {
    background-color: var(--youtube-dark-primary);
}

.matrix-link {
    background-color: var(--element-dark-primary);
}

.sns-links .sns-username {
    z-index: 20;

    align-self: center;
    margin-left: auto;
    margin-right: auto;

    font-family: "Rubik";
    color: var(--text-color-light);
}
/* Second Page End */


/* Footer Start */
.hosted-with-love {
    height: 2rem;

    background-color: black;

    text-align: center;
    vertical-align: middle;
    line-height: 2rem;

    scroll-snap-align: end;

    font-family: 'Consolas';
}

.hosted-with-love a {
    text-decoration: underline;
}

.hosted-with-love a:hover {
    color: #ffffff;
}
/* Footer End */