:root {
    --border-color: rgb(60, 60, 60);
    --font-light: rgb(190, 190, 190);
}

* {
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    color: white;
}

body{
    margin: 0;
    background-color: #0d0d0d;
}

.top-container {
    position: relative;
    height: 40vh;
}

.banner {
    background-image: url("res/green_night_valley.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 40vh;
    width: 100vw;
    z-index: 0;
}

.avatar {
    display: flex;
    justify-content: center;
}
.avatar img {
    z-index: 1;
    margin-top: 30vh;
    width: 10vw;
    border: 3px solid black;
    border-radius: 100%;
}

.cardholder {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border: 0.3rem solid var(--border-color);
    border-radius: 1rem;
    width: 30vw;
    align-items: center;
}

.name-large {
    font-size: 2rem;
}

.name-small ul{
    padding: 0;
}

.name-small ul li{
    font-size: 1.2rem;
    color: var(--font-light);
}